
<div class="row" style="margin-left: 8rem; margin-right: 10rem;">
    <div class="col-lg-4 col-md-offset-4" >
    	<h1>New Slide</h1><br/>

		<%= render 'form', slide: @slide %>

		<%= link_to 'Back', slides_path %>
	</div>
</div>
