<% content_for :title do %>Maverick Innovations<% end %>
<div class="row">
    <div class="col-lg-8 col-md-offset-2" >
		<h2 style="margin-top:30px;margin-left: 40px; color: #2CA4B0">ABOUT MAVERICK INNOVATIONS<hr></h2><br/>
		<p style="font-size:16px; margin-left: 40px;">
		Maverick Innovations, INC was founded to specialize with what the customer in the food and beverage process industry wanted, thinking first of quality, design and expense alongside our mantra to “build what you want to use, and build backwards” we’ve successfully released an amazing and inexpensive line. We are happy and proud to say we are distributors and partners too many amazing companies in ranging from the Napa Valley, CA to Hudson Valley, NY.
		</p>



		<h3 style="margin-left: 40px;">Maverick Innovations, Inc<br/>
		2310 Buena Vista Ave<br/>
		Walnut Creek, CA 94597<br/>
		</h3>
	</div>
</div>
