
<div class="row">
    <div class="col-lg-8 col-md-offset-2" >
<% content_for :title do %>Maverick Innovations<% end %>
<h1 style="margin-top:10px;margin-left: 30px; color: #2CA4B0">Shipping<hr></h1>
<p style="font-size:18px; margin-left: 40px;margin-right: 40px">
	<ul> <li>Our lead time to ship is within 3 business days usually within the first depending on bulk and quantity of the order. </li>
<li>UPS is our preferred carrier for larger items USPS for smaller.</li>
<li>Available to ship anywhere in the USA.</li>
<li>Shipping is calculated after order is complete, with fair pricing and no surprise extra premium.</li>

<li>Ships from Northern California </li>
</ul>
</p>

<h1 style="margin-top:30px;margin-left: 30px; color: #2CA4B0">Returns<hr></h1>

<p style="margin-left: 40px;margin-right: 40px">
	<ul><li>Returns will be completely refundable if  product arrives damaged</li>
		<li>is incorrect from the order along with reimbursement in shipping </li>
		<li>If nothing is wrong with the product and have simply decided to return there is a 25 percent restock fee as these Sanitary hose systems are frequently ordered as “custom”</li>
	</ul>
</p>

</div>
</div>